<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'word_lookup/style.css' %}">
        <title>TwitWord</title>
    </head>
    <body>
        <div class="header">
            <h1>Welcome</h1>
        </div>
            <form id="content">
                <input id="word" type="text" name="word" placeholder="Enter a word">
                <input id="submit" type="submit" value="Submit">
            </form>
    </body>
</html>