<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'word_lookup/style.css' %}">
        <link rel="icon" type="image/png" href="{% static 'word_lookup/TwitWord_favicon.ico' %}">
        <title>TwitWord</title>
    </head>
    <body>
        <div class="vertical-center">
            <!-- Page title -->
            <div class="header">
                <h1>TwitWord</h1>
            </div>
            <!-- Form to input a word -->
            <form id="content" method="post">
                {% csrf_token %}
                <input id="text_field" type="text" name="user_input" placeholder="Enter a word" maxlength="100">
                <input id="submit" type="submit" value="Submit">
            </form>
            <!-- Page info -->
            <p id="explanation">Type in a word to view tweets that contain it!</p>
        </div>
        <!-- create two divs with tweets on either side of the screen -->
        <div class="left">
            {% for tweet in left_tweets %}
            <div>{{ tweet|safe }}</div>
            {% endfor %}
        </div>
        <div class="right">
            {% for tweet in right_tweets %}
            <div>{{ tweet|safe }}</div>
            {% endfor %}
        </div>
    </body>
</html>